:root {
  --color-black: #000;
  --color-white: #fff;
  --color-salmon: #fa8072;
  --color-pink: #8a008a;
  --color-roxo: #6a0877;
  --color-roxo-claro: #a263aa;
  --color-pastel: #faf391;
  --color-cinza: #9e9d9e;
}